.goodHabits {
    height: 88%;
    margin: 0px;
}

.badHabits {
    height: 36vh;
    margin: 0px;
}

.goodHabits h1 {
    margin: 0px;
}

.badHabits h1 {
    margin: 0px;
}

.calendar-container {
    margin-top: 3vh;
    height: 78vh !important;
}

.week {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.week-day {
    width: 14.5%;
    height: 70vh;
    border: 2px solid gray;
    margin: 6px;
}

.week-header {
    height: 14% !important;
    background-color: gray;
    color:white;
    height: 10%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.habit {
    height: 30%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: white;
    color: black;
}

.create-btn { 
    background-color: royalblue !important;
    color: white !important; 
    border: 2px solid lightgray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 8vh;
    height: 8vh;
    width:100% !important;
}


.habit-calendar {
    background-color: teal;
    z-index: 3;
    height: 3vh;
    width: 3vw;
}

.habits {
    display: flex;
    flex-direction: column;
}

.habit-tile-good {
    background-color: green;
    border: 2px solid lightgray;
    height: 4vh;
    min-height: 40px;
    margin-top: 0.7vh;
    display: flex;
    justify-content: center;
}

.habit-tile-bad {
    background-color: orange;
    border: 2px solid lightgray;
    height: 4vh;
    min-height: 40px;
    margin-top: 0.7vh;
    display: flex;
    justify-content: center;
}

.changeWeeks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.changeWeek {
    margin: 0.6rem 6rem;
}

.habit-title {
    margin: 0;
}

.page-headline-calendar {
    margin: 0px !important;
}