.goodHabits {
    background-color: green;
    height: 35vh;
}

.badHabits {
    background-color: orange;
    height: 35vh;
}

.week {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

.week-day {
    width: 15%;
    height: 90%;
    border: 2px solid gray;
    margin: 2px;
}

.week-header {
    height: 10%;
    background-color: gray;
    color:white;
    font-size: 20px;
}

.habit {
    height: 30%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: white;
    color: black;
}

.create-btn { 
    background-color: royalblue;
    height: 80%;
    width: 80%;
    margin: 5%;
}