.goodHabits {
    background-color: green;
    height: 39vh;
    margin-bottom: 4vh;
}

.badHabits {
    background-color: orange;
    height: 39vh;
    margin-bottom: 4vh;
}

.week {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.week-day {
    width: 15%;
    height: 83%;
    border: 2px solid gray;
    margin: 6px;
}

.week-header {
    height: 10%;
    background-color: gray;
    color:white;
    font-size: 20px;
}

.habit {
    height: 30%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: white;
    color: black;
}

.create-btn { 
    background-color: royalblue !important;
    color: white !important; 
    padding: 1.5vh 4.4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.habit-calendar {
    background-color: teal;
    z-index: 3;
    height: 3vh;
    width: 3vw;
}

.habits {
    display: flex;
    flex-direction: column;
}

.habit-tile { 
    background-color: tomato;
    height: 4vh;
    padding: 0.25vh;
    margin-top: 1vh;
}
