.navigation {
    display: flex;
    margin: 0;
    font-weight: bold;
}
  
.navigation a {
    color: white;
}

.navigation a:hover {
    color: white;
}

.navigation a:visited {
    color: white;
}

.navigation-item {
    width: 18vw;
    font-size: 20px;
    color:transparent;
}

.navbar {
    margin-bottom: 0vh !important;
    height: 8vh;
    box-shadow: none !important;
    background-color: royalblue !important;
    justify-content: center;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
.navbar-brand {
    background-color: royalblue;
    margin-left: -15vw;
    margin-top: 2vh;
    width: 8vw;
}

.username {
    margin-left: 1vw;
    font-weight: bold;
    font-size: 20px;
    justify-content: left;
    display: flex;
    color: white;
}
